# 4.8 - Grouping Data & Aggregating Variables

In [10]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Import Data Files

In [4]:
# declare path as variable
path = r'C:\Users\Yoany\Documents\Instacart Basket Analysis'

In [8]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_derived.pkl'))

##  Aggregated Mean Calculation for Entire Dataframe

In [14]:
# creat subset
ords_prods_merge_sub=ords_prods_merge[:1000000]

In [16]:
ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

## How do the results for the entire dataframe differ from those of the subset?

*The results show notable differences between the subset (first 1,000,000 rows) and the full dataset. While the subset contains data for 21 departments, the full dataset includes an additional department (ID 99), making a total of 22 departments.*

## Create a Loyalty Flag

In [25]:
# Creating new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Yoany\AppData\Local\Temp\ipykernel_17124\2324063168.py:2: FutureWarning: The provided callable <function max at 0x00000265045607C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [27]:
# Checking for new column
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy Days,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy Days,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest Days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest Days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest Days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy Days,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest Days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest Days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,0.0,1,0,both,Mid-range product,Regularly busy,Regularly busy Days,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.0,1,0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.0,3,1,both,Mid-range product,Least busy,Slowest Days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy Days,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.0,8,0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,prior,7,2,8,6.0,18,1,both,Mid-range product,Regularly busy,Regularly busy Days,Average orders,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,prior,9,5,8,10.0,12,1,both,Mid-range product,Regularly busy,Regularly busy Days,Average orders,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,prior,4,2,0,7.0,10,0,both,Mid-range product,Regularly busy,Regularly busy Days,Fewest orders,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,prior,5,1,21,6.0,9,1,both,Mid-range product,Regularly busy,Busiest Days,Average orders,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,prior,6,1,0,14.0,9,1,both,Mid-range product,Regularly busy,Busiest Days,Fewest orders,28

In [29]:
# Assign loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [31]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [33]:
# Check Loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0       138  Regular customer            28         32
1       138  Regular customer            30         32
2       709      New customer             2          5
3       764      New customer             1          3
4       764      New customer             3          3
5       777  Regular customer            16         26
6       825      New customer             3          9
7       910  Regular customer            12         12
8      1052  Regular customer            10         20
9      1052  Regular customer            15         20
10     1379      New customer             1         10
11     1480    Loyal customer            36         43
12     1480    Loyal customer            38         43
13     1480    Loyal customer            39         43
14     1494  Regular customer             6         13
15     1494  Regular customer             7         13
16     1494  Regular customer             9         13
17     1540  Regular customer             4         28
18     1540  Regular customer             5         28
19     1540  Regular customer             6         28

## Analyze Spending Habits by Loyalty Category

In [38]:
# Determining Basic Statistics of Spending Habits by Loyalty Category
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

## Create a Spending Flag

In [43]:
# Aggregating Data with transform() Function
ords_prods_merge['avg_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Yoany\AppData\Local\Temp\ipykernel_17124\1371496578.py:2: FutureWarning: The provided callable <function mean at 0x00000265045611C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [45]:
# Checking Relevant Columns 
ords_prods_merge[['user_id', 'avg_product_price']].head(15)

    user_id  avg_product_price
0       138           6.935811
1       138           6.935811
2       709           7.930208
3       764           4.972414
4       764           4.972414
5       777           6.935398
6       825           5.957576
7       910           6.680000
8      1052           7.162500
9      1052           7.162500
10     1379           5.813636
11     1480           5.081633
12     1480           5.081633
13     1480           5.081633
14     1494           6.803797

In [47]:
# Creating a 'Spending' Label Flag using loc Function
ords_prods_merge.loc[ords_prods_merge['avg_product_price'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [49]:
# Examining Value Count on 'spending_flag' Column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [51]:
# Checking Releavent Columns
ords_prods_merge[['user_id', 'avg_product_price', 'spending_flag']].head(15)

    user_id  avg_product_price spending_flag
0       138           6.935811   Low spender
1       138           6.935811   Low spender
2       709           7.930208   Low spender
3       764           4.972414   Low spender
4       764           4.972414   Low spender
5       777           6.935398   Low spender
6       825           5.957576   Low spender
7       910           6.680000   Low spender
8      1052           7.162500   Low spender
9      1052           7.162500   Low spender
10     1379           5.813636   Low spender
11     1480           5.081633   Low spender
12     1480           5.081633   Low spender
13     1480           5.081633   Low spender
14     1494           6.803797   Low spender

## Create an Order Frequency Flag

In [54]:
# Aggregating Data with transform() Function
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Yoany\AppData\Local\Temp\ipykernel_17124\981590324.py:2: FutureWarning: The provided callable <function median at 0x0000026504683E20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [56]:
# Checking Relevant Columns 
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head(15)

    user_id  days_since_prior_order  median_days_between_orders
0       138                     3.0                         8.0
1       138                    20.0                         8.0
2       709                     6.0                         6.0
3       764                     0.0                         9.0
4       764                     9.0                         9.0
5       777                    26.0                        11.0
6       825                    30.0                        19.0
7       910                    30.0                         3.5
8      1052                    19.0                         9.5
9      1052                    15.0                         9.5
10     1379                     0.0                        20.0
11     1480                     7.0                         7.0
12     1480                     7.0                         7.0
13     1480                    12.0                         7.0
14     1494                     2.0                         6.0

In [58]:
# Creating a 'Order Frequency' Label Flag using loc Function
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [60]:
# Examining Value Counts on 'order_frequency_flag'
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        22796659
Regular customer          6921472
Non-frequent customer     2686728
Name: count, dtype: int64

In [62]:
# Checking Relevant Columns of Updated Dataframe
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency_flag']].head(15)

,user_id,days_since_prior_order,median_days_between_orders,order_frequency_flag
0,138,3.0,8.0,Frequent customer
1,138,20.0,8.0,Frequent customer
2,709,6.0,6.0,Frequent customer
3,764,0.0,9.0,Frequent customer
4,764,9.0,9.0,Frequent customer
5,777,26.0,11.0,Regular customer
6,825,30.0,19.0,Regular customer
7,910,30.0,3.5,Frequent customer
8,1052,19.0,9.5,Frequent customer
9,1052,15.0,9.5,Frequent customer
10,1379,0.0,20.0,Regular customer
11,1480,7.0,7.0,Frequent customer
12,1480,7.0,7.0,Frequent customer
13,1480,12.0,7.0,Frequent customer
14,1494,2.0,6.0,Frequent customer

## Export the Dataframe in pickle Format to the "Prepared Data" Folder

In [67]:
# Exporting the Dataframe
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_grouped.pkl'))